body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}


.App-link {
  color: #61dafb;
}


.Minesweeper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: double;
  border-color: blueviolet;
  border-radius: 20px;
  padding: 40px;
  position: center;
}

.header {
  display: flex;
  gap: 2rem;
  align-items: center;
}

@keyframes rotate {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}

.bomb {
  height: 3rem;
  animation: rotate infinite 5s linear;
}

.control-panel {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 1rem;
}

.reset-button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}

.reset-button:hover {
  background-color: blueviolet;
  cursor: pointer;
}

.cell-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: center;
  width: 60vh;
  height: 60vh;
  justify-content: space-between;
  gap: 0.5rem;
}


.cell {
  display: flex;
  background-color: blueviolet;
  width: 11%;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 55px;
  padding: 0;
  /* align-content: center; */
  /* border: solid #282c34; */
}
.emodji {
  font-size: 2rem;
  margin: 0;

}

.cell-open {
   box-shadow: 0.2em 0.2em 1em aqua;
}

.cell-flagged {
  box-shadow: 0.2em 0.2em 1.5em red;
}